VITE_FIREBASE_API_KEY=AIzaSyCjKINY9LuhGE3mEWIEqCcWEMNdk-74Ssg
VITE_FIREBASE_PROJECT_ID=allergen-aware-ad181
VITE_SERVER_URL=http://127.0.0.1:8000
FIREBASE_SERVICE_ACCOUNT_FILE=./firebase_service_account.json
# Frontend Vite Config
# If the frontend needs to interact directly with Firebase, fill the fields below
VITE_FIREBASE_API_KEY=AIzaSyCjKINY9LuhGE3mEWIEqCcWEMNdk-74Ssg
VITE_FIREBASE_AUTH_DOMAIN=allergen-aware-ad181.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=allergen-aware-ad181.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=255927854719
VITE_FIREBASE_APP_ID=1:255927854719:web:e5990cb0114e7b0797414a
VITE_FIREBASE_MEASUREMENT_ID=G-1WLDJX8DX2